body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}
.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-top: 0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #2c3e50;
}
.data-summary {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.data-summary p {
    font-size: 1.5em;
    margin: 10px 0;
}
.tab-selector {
    margin: 20px;
    text-align: center;
}
.tab-selector select {
    padding: 12px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.chart-container,
.table-container {
    width: 100%;
    display: none;
}
.chart-container canvas {
    width: 100% !important;
    height: 300px !important; /* Imposta l'altezza fissa per i grafici */
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #2c3e50;
    color: #ffffff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
.chart-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2c3e50;
    text-align: center;
}
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}